<?xml version="1.0"?>
<!--
This launch file starts opnni drivers for Assus Xtion on the 2. robot hand of
the CloPeMa robot.

Author:     Libor Wagner
Modified:   November 20, 2012 15:44
-->
<launch>

    <arg name="override" default="0"/>

    <!-- Arguments -->
    <arg name="publish_tf"  default="true" />
  
    <!-- Include common CloPeMa configuration. -->
    <include file="$(find clopema_config)/launch/clopema.launch"/>

	<param name="/clopema_calibration/handeye/folder" value="certh_launch/handeye"/>

    <!-- Include CloPeMa openni launch file for kinect on the first arm. -->
    <group>
        <include file="$(find certh_launch)/launch/openni.launch">
            <arg name="override"              value="$(arg override)"/>
            <arg name="machine"               value="clopema2"/>
            <arg name="camera"                value="xtion3"/>
            <arg name="device_id"             value="$(arg device_id)" if="$(arg override)"/>
            <arg name="link"                  value="base_link" />
            <arg name="rgb_camera_info_url"   value="file://${ROS_HOME}/clopema_calibration/xtion3_rgb.yaml"/>
            <arg name="depth_camera_info_url" value="file://${ROS_HOME}/clopema_calibration/xtion3_depth.yaml"/>
            <arg name="publish_tf"            value="$(arg publish_tf)" />
			<arg name="depth_registration"    value="true" />
			<arg name="image_mode"	          value="2"/>
        </include>
    </group>

</launch>
