<library path="lib/libviz_helpers">
  <class name="viz_helpers/CameraViewPlugin" type="viz_helpers::CameraViewPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to view a sensor_msgs/Image topic.
    </description>
    <qtgui>
      <label>Interactive Camera Viewer</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>Modified version of Image View plugin that allows for user interaction.</statustip>
    </qtgui>
  </class>
  <class name="viz_helpers/RobotDashboardPlugin" type="viz_helpers::RobotDashboardPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      CloPeMa robot dashboard.
    </description>
    <qtgui>
      <label>CloPeMa Robot Dashboard</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>Provides usefull tools for robot control</statustip>
    </qtgui>
  </class>
	<class name="viz_helpers/CommandPanelPlugin" type="viz_helpers::CommandPanelPlugin" base_class_type="rqt_gui_cpp::Plugin">
	<description>
	  CloPeMa command panel.
	</description>
	<qtgui>
	  <label>CloPeMa command panel</label>
	  <icon type="theme">image-x-generic</icon>
	  <statustip>GUI to send commands to a client node</statustip>
	</qtgui>
  </class>
</library>

